

.google-expando__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}



.google-expando {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.google-expando--wrap {
  position: relative;
  width: 100%;
}

.mdi-content-add-circle-outline {
  font-size: 300=%;
}

.mdi-content-add-circle-outline:hover {
  cursor: pointer;
}

.google-expando__icon {
  padding-top: 10px;
  padding-bottom: 10px;
}

.google-expando__card {
  border-radius: 2px;
  //box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  height: auto;
  width:100%;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  z-index: 10;
  background: white;
  opacity: 0;
}

.mdi-content-add-circle-outline.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.google-expando__card.active {
  height: auto;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
