/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url ("css/expando.css");
@media only screen and (max-width: 600px) {
    .row .col {
        padding-left: 1%;
        padding-right: 1%;

    }
}


}
.input-field label {
    color: #5493e0;
}

.bt-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.msg-btn {
    padding-left: 30%;
    padding-right: 30%;
}
.grn {
    color: #00D879 !important;
}
.skill-btn {
    text-transform: none;
    bottom: 2px;
}
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f6f6;
    color: rgb(87, 87, 87);
}
.brand-logo {
      width: 240px;
    top: -2px;
      -webkit-font-smoothing: antialiased;

}
#howitworks {
    height: 100%;
}
.btn-main {
    width: 40%;
}
.btn-large {
    background-color: #5493e0;
}
.btn {
    background-color: #5493e0;
}
.btn2 {
    background-color: #00D879;
 
}
.pad {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .pad {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

.modal {

    background-color: #FFFFFF;
}

.modal-m {
 height:90%;
    width:80%;
    top:10%;

    }
.prof {
    border-radius: 100%;
    width: 50%;
    margin-top: 10px;
    margin-bottom: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;

}


.prof2 {
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
    width:20%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.prof3 {
    border-radius: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 600px) {
    .prof3 {
        width:80%;
    }
}


@media only screen and (max-width: 600px) {
    .prof2 {
        width:50%;
    }
}
.homename {
    font-size: 200%;
    color: #5493e0;
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;
}
.procard {
    margin-top: 80px !important;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    background-color: white;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(50, 58, 59, 0.15);
}
.procard2 {
    margin-top: 30px !important;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    background-color: white;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(50, 58, 59, 0.15);
}

.procard3 {
    margin-top: 80px !important;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    background-color: white;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(50, 58, 59, 0.15);
}
.skill-tags {
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #ffffff !important;
    background-color: #5493e0;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blu {
    color: #5493e0;
}
.collapsible-body p {
    padding: 10px;
}

p {
    line-height: 2rem;
    margin-top:0px;
    text-indent: 5%;
}
.no-btn {
    border-radius: 0%;
    box-shadow: none;
}
nav ul a,
nav .brand-logo {
    color: #5493e0;
    font-weight:bold;
}
.side-nav a{
  color: #5493e0;
  text-align:center;  
}

.button-collapse {
    color: #5493e0;
    font-size: 350%;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: 100%;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
.icon-block {
    padding: 0 15px;
}
footer.page-footer {
    margin: 0;
}
/* label color */

.search .input-field label {
    color: #ffffff;
}
/* label focus color */

.search .input-field input[type=text]:focus + label {
    color: #ffffff;
}
/* label underline focus color */

.search .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
/* valid color */

.search .input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
/* invalid color */

.search .input-field input[type=text].invalid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
/* icon prefix focus color */

.search .input-field .prefix.active {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .brand-logo {
        width: 220px;
    }
    h2 {
        font-size: 3.2rem;
    }
    h5 {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}
.nav-pad {
    padding-left: 5%;
    padding-right: 5%;
}
.tabs .tab a {
    color: #5493e0;
    font-size: 130%;
}
.tabs .indicator {
    background-color: #00D879;
}
.btn-floating.btn-large {
    margin-bottom: 10px;
}

.circle-btn-main {
    margin-bottom: 20px !important;
}

.google-expando__icon.active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration: 0.2s;
    /* Safari */
    
    transition-duration: 0.2s;
}

.skill-block {
  margin-top: 30px;
  margin-bottom:20px;
  font-size: larger;
}

.level {
  
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:5px;
  padding-right:5px;
}

.skill-snippet {

  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.review{
  padding-top: 15px;
  padding-bottom:15px;
}

.input-field label.active {
  font-size: 1.2rem;
  }

  .input-field {
      padding-bottom: 15px !important;
      top: 2.8rem;
  }

@media only screen and (max-width: 600px) {
   .label-fix {
    margin-top: 30px;
  }
}
  
.btn-login {

    width:100%;
      margin-bottom: 10px;
}

  .facebook-login {

background-color:#4b70ab !important;
  }

  .linkedin-login {

background-color:#0087be !important;
  }

    .google-login {

background-color:#fa5432 !important;
  }

.proback{
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size:100% 100%;
}

.proback .homename {
    color:white!important;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.32);
}

.bold {
    font-weight:bold;
}

#search::-webkit-input-placeholder{
color:white;
text-align:center;
}

.collapsible {
    box-shadow: none;
  border: none;
}

.collapsible-header {
    color: #00D879;
}
